# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Lab2_OOP_Sem2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Study\OOP_labs\Second semester\Lab2_OOP_Sem2\.idea\.idea.Lab2_OOP_Sem2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
